<div class="container py-5">
    <div class="row">
        <div class="col-md-6 animated fadeIn">
            <h1 class="mb-4">Bienvenido(a) a</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 animated fadeIn slow">
            <img src="/assets/images/naqui.jpg" alt="Imagen de bienvenida" class="img-fluid" width="400" height="250">
            <br>
            <br>
            <h2>¡Tu mejor compañía!</h2>
            <p>Naqui es el aplicativo encargado de ofrecer los servicios de bienestar empresarial de manera remota para
                tu organización. ¡Explórala ahora!</p>
        </div>
        <div class="col-md-6 animated fadeIn slower">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" align="center">
                        <img src="/assets/images/agenda-cita.png" alt="Primera imagen del carrusel"
                            class="d-block w-50">
                    </div>
                    <div class="carousel-item" align="center">
                        <img src="/assets/images/conferencias.png" alt="Segunda imagen del carrusel"
                            class="d-block w-50">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>
    </div>
</div>