<nav name="navbar" class="navbar navbar-dark navbar-expand-lg" style="background-color: #0F1364">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['home']">
            <img src="/assets/images/naqui.jpg" alt="" style="margin: auto auto" width="120" height="80">
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/home']">Inicio</a>
                </li>
                <li *ngIf="isLogged" class="nav-item dropdown">
                    <a class="links nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Citas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" [routerLink]="['tusCitas']">Tus Citas</a></li>
                        <li><a class="dropdown-item" [routerLink]="['citas']">Citas Disponibles</a></li>
                    </ul>
                </li>
                <li *ngIf="isLogged" class="nav-item">
                    <a class="nav-link" [routerLink]="['/conferencias']">Conferencias</a>
                </li>
            </ul>
            <div class="d-flex">
                <button *ngIf="isLogged" class="btn btn-outline-danger me-2" (click)="cerrarSesion()">Cerrar
                    Sesión</button>
                <button *ngIf="!isLogged && !isInLoginComponent" class="btn btn-outline-danger me-2"
                    [routerLink]="['/login']">Iniciar
                    Sesión</button>
            </div>
        </div>
    </div>
</nav>