<br>
<div class="animated fadeIn fast" align="center">
    <h1 class="animated fadeIn">Visión</h1>
    <table class="animated fadeIn slow">
        <tr>
            <td><img class="p-2" src="/assets/images/vision.png" width="500" height="219"></td>
            <td>
                <p>Nuestra visión es convertirnos en una empresa líder en la industria de la salud laboral y el
                    bienestar, estableciendo nuevos estándares en la prevención y tratamiento de problemas de postura y
                    ofreciendo soluciones innovadoras y eficaces que contribuyan al bienestar de los empleados y a la
                    salud y éxito de las empresas. Aspiramos a ser reconocidos como una empresa ética y responsable,
                    comprometida con el desarrollo sostenible y el impacto positivo en la sociedad y el medio ambiente.
                </p>
            </td>
        </tr>
    </table>
</div>