<br>
<div class="animated fadeIn fast" align="center">
    <h1 class="animated fadeIn">Nuestros Valores</h1>
    <table class="animated fadeIn slow">
        <tr>
            <td><img class="p-2" src="/assets/images/etica.webp" width="375" height="218"></td>
            <td>
                <h3>Ética y Responsabilidad</h3>
                <hr>
                <p>Actuamos de manera ética y responsable, respetando los derechos de los empleados y cumpliendo con los
                    estándares de calidad y seguridad.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Compromiso con la salud y el bienestar</h3>
                <hr>
                <p>Tenemos un gran compromiso con la salud y el bienestar de los empleados y ofrecemos soluciones
                    integrales para mejorar la postura y el ambiente laboral.</p>
            </td>
            <td><img class="p-2" src="/assets/images/salud.png" width="350" height="350"></td>
        </tr>
        <tr>
            <td><img class="p-2" src="/assets/images/honestidad.jpg" width="400" height="300"></td>
            <td>
                <h3>Honestidad</h3>
                <hr>
                <p>Realizamos todas las operaciones con transparencia y rectitud, ofreciendo servicios de calidad
                    garantizada y manejo confidencial de la información brindada</p>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Calidad y Excelencia</h3>
                <hr>
                <p>Somos exigentes con la calidad de nuestros servicios, buscando la excelencia en todo lo que hacemos y
                    ofreciendo soluciones de alta calidad que contribuyan al éxito de la empresa y de sus empleado</p>
            </td>
            <td><img class="p-2" src="/assets/images/calidad.jpg" width="400" height="224"></td>
        </tr>
        <tr>
            <td><img class="p-2" src="/assets/images/orientacion.jpg" width="400" height="266"></td>
            <td>
                <h3>Orientación al Cliente</h3>
                <hr>
                <p>Nos enfocamos en los clientes, escuchando y atendiendo sus necesidades para ofrecer soluciones
                    personalizadas y de alta calidad.</p>
            </td>
        </tr>
    </table>
</div>