<br>
<div class="animated fadeIn fast" align="center">
    <h1 class="animated fadeIn">Misión</h1>
    <table class="animated fadeIn slow">
        <tr>
            <td><img class="p-2" src="/assets/images/mision.png" width="500" height="219"></td>
            <td>
                <p>Nuestra misión es proporcionar a las empresas soluciones integrales para mejorar la salud y el
                    bienestar de sus empleados, centrándonos especialmente en la prevención y tratamiento de problemas
                    relacionados con la postura corporal. Nos esforzamos por ofrecer productos y servicios de alta
                    calidad que ayuden a nuestros clientes a reducir el absentismo laboral y aumentar la productividad,
                    mejorando así la calidad de vida de los empleados y el éxito de la empresa.
                </p>
            </td>
        </tr>
    </table>
</div>